<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
    th:replace="~{base :: layout(~{::title},~{::body/content()})}">
<head>
    <meta charset="UTF-8">
    <title>エクササイズリスト</title>
</head>
<body>
    <h1>エクササイズ一覧</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>エクササイズ名</th>
                <th>重量</th>
                <th>挙上回数</th>
                <th>セット数</th>
                <th>トレーニングボリューム</th>
                <th>エクササイズ実施日</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="exercise : ${exercises}">
                <td th:text="${exercise.id}">ID</td>
                <td th:text="${exercise.name}">種目名</td>
                <td th:text="${exercise.weight}">重量</td>
                <td th:text="${exercise.reps}">挙上回数</td>
                <td th:text="${exercise.sets}">セット数</td>
                <td th:text="${exercise.volume}">トレーニングボリューム</td>
                <td th:text="${exercise.session.date}">エクササイズ実施日</td>
                <td>
                    <a th:href="@{/user/exercises/edit/{id}(id=${exercise.id})}">編集</a>
                    <a th:href="@{/user/exercises/delete/{id}(id=${exercise.id})}">削除</a>
                </td>
            </tr>
        </tbody>
    </table>
    <a th:href="@{/user/sessions/add}">セッション開始</a>
    <a th:href="@{/user/sessions}">トップページへ</a>
</body>
</html>